.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
.card-text {
    text-align: justify;
}
.card {
    width: 25rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.card-body {
    display: flex;
    flex-direction: column;
}